body {
  font: 100% Helvetica, sans-serif; }

.btn-theme {
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  background: #79b530;
  border: 2px solid #79b530; }
  .btn-theme.no-bg {
    background: transparent;
    border: 2px solid #fff; }
  .btn-theme:hover {
    color: #ffffff; }

/*header css*/
.site-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .site-header .top-bar {
    background-color: #F8F8F8; }
    .site-header .top-bar .top-bar-content {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: stretch;
      align-items: stretch;
      font-size: .8rem; }
      .site-header .top-bar .top-bar-content > * {
        margin-top: 0; }
      .site-header .top-bar .top-bar-content ul {
        margin: 15px 0;
        padding: 0;
        text-align: center; }
        .site-header .top-bar .top-bar-content ul li {
          display: inline-block;
          margin-right: 10px;
          padding: 0;
          padding-right: 10px; }
          .site-header .top-bar .top-bar-content ul li a {
            text-transform: uppercase;
            color: #9c9c9c;
            font-weight: 500; }
          .site-header .top-bar .top-bar-content ul li:last-child {
            margin-right: 0;
            border-right: 0; }
      .site-header .top-bar .top-bar-content .top-bar-link li {
        border-right: 1px solid #9c9c9c; }
      .site-header .top-bar .top-bar-content .social-buttons ul li a {
        color: #79b530; }
  .site-header .main-bar .main-bar-content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center; }
    .site-header .main-bar .main-bar-content .contacts-and-button {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center; }
      .site-header .main-bar .main-bar-content .contacts-and-button .header-contacts {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        margin: 30px 0; }
        .site-header .main-bar .main-bar-content .contacts-and-button .header-contacts .header-contacts-item {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          padding-right: 40px; }
          .site-header .main-bar .main-bar-content .contacts-and-button .header-contacts .header-contacts-item .icon {
            margin-right: 10px;
            font-size: 22px;
            color: #79b530; }
          .site-header .main-bar .main-bar-content .contacts-and-button .header-contacts .header-contacts-item .title {
            color: #908f8f;
            font-weight: 600;
            line-height: 1.2;
            font-size: 14px; }
      .site-header .main-bar .main-bar-content .contacts-and-button .apply-btn {
        padding: 10px 20px;
        border: 2px solid #79b530;
        text-transform: uppercase;
        color: #79b530;
        font-weight: 500; }
        .site-header .main-bar .main-bar-content .contacts-and-button .apply-btn:hover {
          background: #79b530;
          color: #fff;
          text-decoration: none; }
  .site-header .menu-bar {
    transition: background-color 0.3s ease;
    background-color: #79b530;
    position: relative;
    z-index: 5; }
    .site-header .menu-bar .menu-bar-content {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: stretch;
      align-items: stretch; }
  .site-header .site-menu {
    -webkit-flex-basis: 100%;
    flex-basis: 100%; }
    .site-header .site-menu > ul {
      margin: 0;
      padding: 0;
      position: relative;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-justify-content: space-between;
      justify-content: space-between; }
      .site-header .site-menu > ul > li {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: stretch;
        align-items: stretch; }
        .site-header .site-menu > ul > li > a {
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          padding: 20px;
          font-weight: 600; }
      .site-header .site-menu > ul li {
        margin: 0;
        padding: 0;
        position: relative; }

.search-form {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff; }
  .search-form:hover {
    color: #ffffff;
    text-decoration: none; }

/*Banner css*/
.home-banner {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .home-banner .banner-box {
    position: absolute;
    text-align: center;
    color: #fff; }
  .home-banner:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

/*four box css*/
.fourbox {
  margin-top: -50px; }
  .fourbox .fourbox-item {
    text-align: center;
    padding: 20px;
    color: #fff; }
    .fourbox .fourbox-item:nth-child(1) {
      background: #4886fe; }
    .fourbox .fourbox-item:nth-child(2) {
      background: #e86c6d; }
    .fourbox .fourbox-item:nth-child(3) {
      background: #b5d569; }
    .fourbox .fourbox-item:nth-child(4) {
      background: #ea8044; }
    .fourbox .fourbox-item .icon {
      font-size: 30px;
      margin-bottom: 10px; }
    .fourbox .fourbox-item .title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
      text-transform: capitalize; }

/*# sourceMappingURL=style.css.map */
